.header {
  a {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
  }

  a:hover {
    border-bottom: 2px solid $blue;
    display: inline-block;
    line-height: 1em;
  }
}
