$hero-height: 55em;

.hero {
  background: url("/assets/img/splash2.jpeg") bottom center;
  background-attachment: fixed;
  height: $hero-height;
  background-size: cover;
  display: flex;
  padding: 2em;
  align-items: center;
}

.emphasise {
  h1 {
    color: $blue;
  }
  h2 {
    color: $blue;
  }
}
